.icon:hover { 
    cursor: pointer;
    color: red;
}

.add {
    font-size: 19px;
    padding-top: 28px;
}

.add:hover {
    color: red;
    cursor: pointer;
}

.addNewElementDiv {
    display: flex;
}